<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Свежие новости по категории: ({{ category_name }})</h1>

   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
               <td></td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.datetime|date:'d M Y' }}</td>
               <td>{{ post.text|truncatewords:20 }}</td>
               <td><a href="{% url 'post_detal' post.pk %}">>></a></td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

 /body>
</html>